Screen {
    layout: grid;
    grid-size: 4;
    grid-columns: 4fr 2fr 2fr 16;
    grid-rows: 7 1fr 3;
    padding: 1 2 1 2
}

.box {
    height: 100%;
}

#clusters {
    column-span: 4;
}

#prompt {
    column-span: 4;
}

Splash {
    layout: vertical;
    align: center middle;
}

Splash>Logo {
    height: 7;
    content-align-horizontal: center;
}

Splash>SplashInfo {
    margin: 2 0;
    height: 6;
    content-align-horizontal: center;
    text-align: center;
}
